body {
    text-align: center;
    background-color: #acacac;
}

div {
    color: #ffffff;
    font-family: monospace;
    font-size: 1.5em;
}

h1 {
    font-size: 70px;
    margin: 0.2em;
    margin-bottom: 50px;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

tr,
td {
    height: 2px;
    width: 2px;
}

table {
    border-collapse: collapse; 
}

input[type=number] {
    margin: 5px 0px;
    width: 6em;
    height: 2em;
    display: block;
    border: 3px #acacac;
    border-style: outset;    
}

button {
    width: 6em;
    height: 2em;
    margin: 30px 0px;
    background-color: #ffffff;
    width: 6em;
    display: block;
    border: 3px #acacac;
    border-style: outset;
}

#colorPicker {
    width: 6em;
    height: 2em;
    margin: 30px 0px;
    display: block;
    border: 3px #acacac;
    border-style: outset;
    background-color: #ffffff;
}

#control {
    width: 20%;
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 80px;
}

#display {
    width: 80%;
    display: inline-block;
    box-sizing: border-box;
    padding: 40px;
    float: right;
}

#grid {
    margin: 20px;
    display: inline-block;
    background-color: #ffffff;
}

#marquee {
    margin: 20px;
}

.showGrid {
    border: 6px #acacac;
    border-style: outset;
}
